<!DOCTYPE html>
<html>
<head>
    <title>customer History Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body
        {
            text-align: center;
        }
        table, td, th 
        {
            border: 4px solid black;
            border-collapse: collapse;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        h1
        {
            font-family: cursive;
        }
    </style>
</head>
<body>
    <h1>Customer history Page</h1>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Customer Dashboard</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/handprofile"> Profile </a></li>
                <li class="active"><a href="/handhistory"> History </a></li>
                <li><a href="/viewbooks">Book list</a></li>
                <li><a href="/handbrent"> Books for Rent </a></li>
                <li><a href="/handbpurchase"> Books for Purchase </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout </a></li>
            </ul>
        </div>
    </nav>
    <table class="table table-bordered">
            <tr>
                <th><b>Transaction ID</b></th>
                <th><b>Book Name</b></th>
                <th><b>Author Name</b></th>
                <th><b>Total price/Rent Paid</b></th>
                <th><b>Number of books taken</b></th>
                <th><b>Book for</b></th>
                <th><b>Delivery</b></th>
            </tr>
            {% for x in values %}
            <tr>
                <td>{{x[0]}}</td>
                <td>{{x[4]}}</td>
                <td>{{x[5]}}</td>
                <td>{{x[1]}}</td>
                <td>{{x[2]}}</td>
                <td>{{x[3]}}</td>
                <td>{{x[6]}}</td>
            </tr>
            {% endfor %}
    </table>
    
    <br><br>
    <form action="/handhistory_back" method="POST">
        <input class="btn btn-primary" type="submit" name="submit" value="Back"><br><br>
    </form>
</body>
</html>